**/.git
**/node_modules
node_modules
node_modules/**

*/temp*
*/*/temp*
temp?

*.md
!README.md

# Logs
logs
logs/
/log
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

npm-debug.log
.env
key.json
app.yaml
.env.test
.env.production

assets/
